<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is my website description">
    <meta name="keywords" content="proofread, marketing, eats, food, travel, excursions">
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400;500;600;700&family=Fjalla+One&family=Playfair+Display:wght@700;800;900&family=Roboto:wght@400;700&family=Sacramento&display=swap" rel="stylesheet">

    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <!-- CSS -->
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Welcome to Emciefy | Proofreading | Marketing  </title>
</head>
<body id="home">
    <header class="hero">

        <!-- Navbar -->
        <div id="navbar" class="navbar">
            <div class="column">
               <h1 class="logo">
                <a href="#home">Emciefy</a>
                </h1>
                <p class="logo-description">SHINE YOUR WORDS</p> 
            </div>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#book-writing-services">Book Writing Services</a></li>
                    <li><a href="#marketing">Marketing</a></li>
                    <li><a href="#eats-excursions-everything">Eats, Excursions, & Everything Else</a></li>
                    <li><a href="#contact">Contact</a></li>

                </ul>
            </nav>
        </div>

        <!-- Main Content -->
        <div class="content">
            <div class="top-content">
                <h1>Welcome to <span class="emciefy-content">Emciefy</span>  where I help you enhance and improve your work or business!</h1>
            </div>
    
            <div class="mid-content">
                 <div class="column-mid">
                    <div class="box-1">
                        <p class="btn-showcase"><a href="#contact">Proofread My Work</a></p>
                    </div>
                </div>
    
                <div class="column-mid">
                    <div class="box-1">
                        <p class="btn-showcase"><a href="#contact">Help me with Marketing</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>

        <!-- Book Writing Services -->
        <section id="book-writing-services" class="book-writing-services">
            <div class="flex-items text-primary">
                <div class="query"> 
                    <h2>Book Writing Services</h2>
                    <p><span class="section-divider"></span></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti culpa mollitia ad temporibus suscipit dicta? Repellat modi cum delectus architecto.</p>
                </div> 
            
                <div class="blogs">
                    <div>
                        <h3>Why you need proofreading more than you think?</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit veniam error assumenda alias dolore esse dolorem quidem sapiente aperiam labore eveniet nam obcaecati </p>
                        <a href="#writing-services" class="btn"><i class="fas fa-chevron-right"></i> Read More</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Marketing -->
        <section id="marketing" class="marketing">
            <div class="flex-items text-secondary">
                <div> 
                    <h2>Marketing</h2>
                    <p><span class="section-divider"></span></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti culpa mollitia ad temporibus suscipit dicta? Repellat modi cum delectus architecto.</p>
                </div> 
            
                <div class="blogs">
                    <div>
                        <h3>Marketing fixes that you can easily fix</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit veniam error assumenda alias dolore esse dolorem quidem sapiente aperiam labore eveniet </p>
                        <a href="#" class="btn"><i class="fas fa-chevron-right"></i> Read More</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Eats, Excursions & Everything Else -->
        <section id="eats-excursions-everything" class="eats-excursions">
            <div class="flex-items text-primary">
                <div> 
                    <h2>Eats & Excursions</h2>
                    <p><span class="section-divider-2"></span></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti culpa mollitia ad temporibus suscipit dicta? Repellat modi cum delectus architecto.</p>
                </div> 
            
                <div class="blogs">
                    <div>
                        <h3>Blog Post</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit veniam error assumenda alias dolore esse dolorem quidem sapiente aperiam labore eveniet nam obcaecati </p>
                        <a href="#" class="btn-2"><i class="fas fa-chevron-right"></i> Read More</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact -->
        <section id="contact" class="contact">
            <div class="form">
                <h2>Hire Me</h2>
                <p><span class="section-divider"></span></p>
                <p>Please fill-out the form below:</p>
                <form action="POST">
                    <div class="form-group">
                        <label for="name">Full Name*</label>
                        <input type="text" name="name" id="name" >
                    </div>
                    <div class="form-group">
                        <label for="email">Email*</label>
                        <input type="email" name="email" id="email"  required>
                    </div>
                    <div class="form-group">
                        <label for="number">Phone Number</label>
                        <input type="text" name="number" id="number" >
                    </div>
                    <div class="form-group">
                        <label for="">Which of the following services would you like to avail?</label>
                        <div>
                            <input type="checkbox" name="services" id="services" value="proofreading"> Proofreading
                            <input type="checkbox" name="services" id="services" value="marketing"> Marketing
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="message">Write your question or message below if any:</label>
                        <textarea type="text" name="message" id="message" cols="50" row="5"></textarea>
                    </div>
                    <input class="btn-submit" type="submit" value="Submit">
                </form>
            </div>
        </section> 

        <!-- About -->
        <section id="about" class="about">
            <div class="flex-items text-primary">
                <div> 
                    <h2>About</h2>
                    <p><span class="section-divider"></span></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti culpa mollitia ad temporibus suscipit dicta? Repellat modi cum delectus architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam provident dolores ullam libero rem amet laudantium nam doloremque et exercitationem.</p>
                </div> 
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer id="footer">
        <div class="footer">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-square fa-3x"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram-square fa-3x"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square fa-3x"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin fa-3x"></i></a></li>
            </ul>
        </div>
        <p>Emciefy 2021</p>
    </footer>
</body>
</html>